    body {
        width: 100%;
        height: 100%;
        margin:0;
        padding: 0;
        font-family: 'Neucha', cursive;
    } 
    p {
        font-family: 'Neucha', cursive;
        font-weight: 100;

    }
    .h1 {
        font-size: 34px;
    }
    .h2 {
        font-size: 30px;
    }
    .h3 {
        font-size: 26px;
    }
    .header {
        border-bottom: 1px dashed #00aeff;
        padding: 20px;
        text-align: center;
    }
    .pattern, .gamepattern {
        padding: 50px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;

    }
    .pattern {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100&0.7+0,0.7+100;Blue+3d+%237 */
        background: -moz-linear-gradient(top,  rgba(73,155,234,0.7) 0%, rgba(32,124,229,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(73,155,234,0.7) 0%,rgba(32,124,229,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(73,155,234,0.7) 0%,rgba(32,124,229,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3499bea', endColorstr='#b3207ce5',GradientType=0 ); /* IE6-9 */
    }
    .gamepattern {
        background: rgba(255,255,255,0.8);
        padding: 0px;
    }
    .enter {
        width: 100%;
        text-align: center;
        background: url(back.jpg) repeat;
        color:white;
        height: 100%;
        position: absolute;
        box-sizing:border-box;
        z-index: 3;
    }
    .game {
        background: url(back.jpg) repeat;
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        color:#474747;
    }
    .remove {
        margin-top:-100%;
    }
    .debug {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 500px;
        float: right;
        padding:20px;
        background: rgba(0,0,0,0.02);
    }
    .field, .enemyfield {
        text-align: left;
        display: inline-block;
        margin:20px;
        width: 400px;
        padding: 10px;
    }
    .field {
        pointer-events:none;
    }
    .ship {
        display: block;
        background: rgba(0,0,0,0.2);
    }
    .cell {
        background: #aeff00;
        display: inline-block;
        width:20px;
        height: 20px;
    }
    .y {
        display: block;
        margin:0px;
        padding: 0px;
        height: 30px;
        width: auto;
    }
    .y0 .x {
        border-top: 1px dashed #999;
    }
    .y .x0 {
        border-left: 1px dashed #999;
    }    
    .x {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-right:1px dashed #999;
        border-bottom:1px dashed #999;
        background: #fbfbfb;
        padding:0px;
        cursor: pointer;
        box-sizing:border-box;
    }

    .x:hover {
        background: #c7c6c6;
    }
    .fieldship {
        background: #00aeff;
    }

    .fieldship:hover {
        background: #4d9ec3;

    }
    .enemy {
        color: #f71c1c;
        pointer-events:none;
        position: relative;
    }
    .fieldship.enemy {
        background: #f71c1c;

    }
    .field .enemy:before {
        color: white;
    }

    .enemy:before {
        content: '✖';
        position: absolute;
        text-align: center;
        width: 100%;
        top:3px;
    }
    .enemy:hover {
        background: #ab1010;
    }
    .miss {
        color: #675c5c;
        pointer-events:none;
        position: relative;
    }
    .miss:before {
        text-align: center;
        width: 100%;
       content: '';
       display: inline-block;
       width: 8px;
       height: 8px;
       -moz-border-radius: 7.5px;
       -webkit-border-radius: 7.5px;
       border-radius: 7.5px;
       left:50%;
       top:50%;
       margin-top: -4px;
       margin-left: -4px;
       background-color: #675c5c;

        position: absolute;

    }

    .yorder {
        float: left;
        padding: 5px;
        width: 20px;
        margin-right: 10px;
    }
    .xorder {
        display: inline-block;
        width: 30px;
        text-align: right;
        margin-bottom: 10px;
    }
    input {
        padding: 10px;
        border-radius: 4px;
        outline: none;
        border:1px solid #efefef;
        margin:10px;
        font-family: 'Pangolin', cursive;

    }
    .button {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); 
        background: rgba(0,0,0,0.1);  
        padding: 10px;
        display: inline-block;
        margin:10px;
        cursor: pointer;
        width: auto;   
        border: 1px dashed white;
    }
    .button:hover {
        background: rgba(0,0,0,0.05);
    }
    .green {
        background: rgba(30, 167, 35, 0.77);
        position: absolute;
        right: 50px;
        top: 50px;
    }
    .green:hover {
        background: rgba(21, 107, 24, 0.77);
    }
    .show {
        position: fixed;
        top: 120px;
        right: 20px;
        z-index: 3;
    }
    .greenalert {
        background: rgba(30, 167, 35, 0.77);
    }
    .redalert {
        background: rgba(218, 38, 28, 0.77);
    }
    .show_block {
        color:white;
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
    }
    .non {
        pointer-events:none;
        opacity: 0.8;
    }
    .loose {
        color: rgba(218, 38, 28, 0.77);
        font-weight: bold;
        text-transform: uppercase;
    }

    .win {
        color: rgba(30, 167, 35, 0.77);
        font-weight: bold;
        text-transform: uppercase;
    }
    .modal {
        width: 600px;
        height: 300px;
        position: absolute;
        left: 50%;
        margin-left:-300px;
        margin-top: -150px;
        padding: 50px;
        text-align: center;
        display: none;
        z-index: 5;
        top: 50%;
        background: white;
    }
    .modal .start {
        position: relative;
        top:0;
        right: 0;   
    }
    .overlay {
        width: 100%;
        position: fixed;
        height: 100%;
        display: none;
        z-index: 4;
        background: rgba(0,0,0,0.8)
    }
    .close {
        position: absolute;
        top:20px;
        right: 20px;
        font-size: 24px;
        cursor:pointer;
    }